doctype html
html(lang='pt-br')
  head
    title Property Notification
    meta(charset='UTF-8')
    meta(name='viewport',content='width=device-width, initial-scale=1')
    //if lt IE 9
      script(src='js/conv.js')     
    //[if (gte IE 6)&(lte IE 8)]  
      script(src='js/selectivizr.js')
    //link(rel='stylesheet', href='css/sty.css')
  body
    section.gl
      header.main_header    
      section.main_container
        block content
      footer.main_footer  
    script(src='/socket.io/socket.io.js')          
    script(src='js/mithril.min.js')
    script(src='js/app.js')   